Repository pocoproject/poco, pull requests merged in 2024-12, with the labels that each got.

#4793 Implement ZipArchiveInfo::getVersionMadeBy() and ZipArchiveInfo::getRequiredVersion() methods
  Zip/include/Poco/Zip/ZipArchiveInfo.h
Labels: bug

#4790 Treat 8-bit integers correctly in Poco::ByteOrder functions
  Foundation/include/Poco/ByteOrder.h
  Foundation/testsuite/src/ByteOrderTest.cpp
Labels: enhancement

#4811 fix(cmake): remove libatomic dependency
  Foundation/CMakeLists.txt
Labels: buildsystem, cmake

#4823 fix(CMake): Select MSVC runtime library with variable CMAKE_MSVC_RUNTIME_LIBRARY (fixes #4817)
  .github/workflows/ci.yml
  CMakeLists.txt
  Foundation/testsuite/CMakeLists.txt
  cmake/DefinePlatformSpecific.cmake
Labels: platform_specific, cmake
